In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
#importing the training datasets
train=pd.read_csv('Amex_Campus_Challenge_Train.csv')

In [9]:
#these have more than 90% rows with null values hence needed to be dropped off
drop_col=['customer_merchant_02',
'customer_merchant_01',
'customer_digital_activity_07',
'customer_digital_activity_08',
'customer_digital_activity_09',
'customer_digital_activity_18',
'merchant_spend_11',
'customer_digital_activity_04']
train_ad=train.drop(columns=drop_col)

In [10]:
pred=train_ad[['ind_recommended','activation']]
feat=train_ad.drop(columns=['activation','ind_recommended'])

In [ ]:
featwna=feat.fillna(feat.mean())

In [ ]:
pred.isna().sum()

In [3]:
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,mean_squared_error

In [11]:
X_train, X_test, y_train, y_test = train_test_split(featwna, pred, test_size=0.1, random_state=42)

In [12]:
classifier = XGBClassifier()
classifier.fit(X_train, y_train)
# Make predictions
y_pred = classifier.predict(X_test)
# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
mse=mean_squared_error(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")
print(f"MSE: {mse:.2f}")

Accuracy: 0.87
MSE: 0.06

In [13]:
import joblib
joblib.dump(classifier,'xgboost_classifier2(0.9,0.1,42)_model.joblib')

['xgboost_classifier2(0.9,0.1,42)_model.joblib']

In [4]:
import joblib
classifierl=joblib.load('xgboost_classifier2(0.9,0.1,42)_model.joblib')

In [3]:
eval_round1=pd.read_csv('Amex_Campus_Challenge_Eval_Round1.csv')
eval_round1

,distance_05,customer_digital_activity_04,customer_spend_01,customer_industry_spend_01,customer_industry_spend_02,customer_industry_spend_03,customer_industry_spend_04,customer_industry_spend_05,customer_spend_02,customer_spend_03,...,merchant_profile_02,merchant_spend_09,merchant_profile_03,customer_digital_activity_01,merchant_spend_10,customer_profile_03,customer_digital_activity_02,customer_profile_04,customer,merchant
0,1.621171,NaN,112.334000,80.552500,9.0,966.63,12.0,10.0,4.0,41.0,...,0.437500,26299.0,4777.0,0.800000,33.300,72.268283,7.000000,423.0,467915,599167
1,2.441944,NaN,112.334000,NaN,NaN,NaN,NaN,NaN,4.0,41.0,...,0.397059,7122.0,4803.0,0.800000,793.290,72.268283,7.000000,423.0,467915,686617
2,2.438082,NaN,112.334000,71.192500,3.0,284.77,4.0,4.0,4.0,41.0,...,NaN,7222.0,14860.0,0.800000,100.000,72.268283,7.000000,423.0,467915,829193
3,2.072182,NaN,112.334000,NaN,NaN,NaN,NaN,NaN,4.0,41.0,...,0.142857,11410.0,11968.0,0.800000,252.380,72.268283,7.000000,423.0,467915,1077034
4,2.380853,NaN,302.792500,NaN,NaN,NaN,NaN,NaN,3.0,37.0,...,0.100000,1847.0,5842.0,0.800000,87.500,72.268283,7.000000,423.0,467915,876647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8496461,22.197181,NaN,65.181875,171.463500,8.0,3429.27,20.0,16.0,21.0,94.0,...,NaN,25017.0,29209.0,0.000000,49.500,92.116548,1.666667,270.0,464447,644485
8496462,17.812486,NaN,15.680000,11.095556,5.0,99.86,9.0,8.0,2.0,14.0,...,0.452830,39731.0,3529.0,0.733333,32.440,34.500012,0.166667,24.0,522564,802309
8496463,8.299482,NaN,61.723409,NaN,NaN,NaN,NaN,NaN,11.0,112.0,...,0.270833,2994.0,7534.0,1.000000,198.500,50.484705,0.166667,390.0,465030,741321
8496464,4.665418,NaN,270.908125,31.177692,4.0,405.31,13.0,6.0,10.0,28.0,...,0.250000,423.0,241.0,0.916667,33.000,86.240872,0.333333,310.0,495259,625845
8496465,23.137716,1.0,1152.836371,80.190000,1.0,80.19,1.0,1.0,28.0,134.0,...,0.243902,8573.0,4374.0,0.200000,23.625,100.000000,7.333333,34.0,556241,639032

In [5]:
feat_eval=eval_round1[feat.columns]

In [6]:
feat_evalwna=feat_eval.fillna(feat_eval.mean())

In [8]:
#predictions from eval set
y_eval_pred = classifierl.predict(feat_evalwna)

In [10]:
def save_predictions(predictions):
    df = pd.DataFrame({'ind_recommended': predictions[:, 0], 'activation': predictions[:, 1]})
    df.to_csv('eval_pred1_new(xgb2-0.1-42).csv', index=False)

# Assuming you have made predictions 'y_val_pred'
save_predictions(y_eval_pred)

In [11]:
pred2=pd.read_csv('eval_pred1_new(xgb2-0.1-42).csv')

In [12]:
pred2

         ind_recommended  activation
0                    0.0         0.0
1                    0.0         0.0
2                    0.0         0.0
3                    0.0         0.0
4                    0.0         0.0
...                  ...         ...
8496461              0.0         0.0
8496462              0.0         0.0
8496463              0.0         0.0
8496464              0.0         0.0
8496465              0.0         0.0

[8496466 rows x 2 columns]

In [13]:
pred2.describe()

       ind_recommended    activation
count     8.496466e+06  8.496466e+06
mean      7.623240e-02  1.587719e-04
std       2.653696e-01  1.259947e-02
min       0.000000e+00  0.000000e+00
25%       0.000000e+00  0.000000e+00
50%       0.000000e+00  0.000000e+00
75%       0.000000e+00  0.000000e+00
max       1.000000e+00  1.000000e+00

In [15]:
finalopnew=pd.concat([feat_evalwna,pred2], axis=1)

In [17]:
finalopnew

,customer_spend_01,customer_industry_spend_01,customer_industry_spend_02,customer_industry_spend_03,customer_industry_spend_04,customer_industry_spend_05,customer_spend_02,customer_spend_03,customer_spend_04,customer_spend_05,...,customer_digital_activity_01,merchant_spend_10,customer_profile_03,customer_digital_activity_02,customer_profile_04,distance_05,customer,merchant,ind_recommended,activation
0,112.334000,80.552500,9.000000,966.630000,12.000000,10.000000,4.0,41.0,104895.000000,3638.63,...,0.800000,33.300,72.268283,7.000000,423.0,1.621171,467915,599167,0.0,0.0
1,112.334000,99.709104,14.712348,2092.020446,35.276847,26.834387,4.0,41.0,97017.239973,3638.63,...,0.800000,793.290,72.268283,7.000000,423.0,2.441944,467915,686617,0.0,0.0
2,112.334000,71.192500,3.000000,284.770000,4.000000,4.000000,4.0,41.0,8990.000000,3638.63,...,0.800000,100.000,72.268283,7.000000,423.0,2.438082,467915,829193,0.0,0.0
3,112.334000,99.709104,14.712348,2092.020446,35.276847,26.834387,4.0,41.0,97017.239973,3638.63,...,0.800000,252.380,72.268283,7.000000,423.0,2.072182,467915,1077034,0.0,0.0
4,302.792500,99.709104,14.712348,2092.020446,35.276847,26.834387,3.0,37.0,97017.239973,4069.02,...,0.800000,87.500,72.268283,7.000000,423.0,2.380853,467915,876647,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8496461,65.181875,171.463500,8.000000,3429.270000,20.000000,16.000000,21.0,94.0,97017.239973,24422.88,...,0.000000,49.500,92.116548,1.666667,270.0,22.197181,464447,644485,0.0,0.0
8496462,15.680000,11.095556,5.000000,99.860000,9.000000,8.000000,2.0,14.0,64646.000000,1491.80,...,0.733333,32.440,34.500012,0.166667,24.0,17.812486,522564,802309,0.0,0.0
8496463,61.723409,99.709104,14.712348,2092.020446,35.276847,26.834387,11.0,112.0,97017.239973,20849.90,...,1.000000,198.500,50.484705,0.166667,390.0,8.299482,465030,741321,0.0,0.0
8496464,270.908125,31.177692,4.000000,405.310000,13.000000,6.000000,10.0,28.0,97017.239973,13233.96,...,0.916667,33.000,86.240872,0.333333,310.0,4.665418,495259,625845,0.0,0.0
8496465,1152.836371,80.190000,1.000000,80.190000,1.000000,1.000000,28.0,134.0,97017.239973,578695.54,...,0.200000,23.625,100.000000,7.333333,34.0,23.137716,556241,639032,0.0,0.0

In [18]:
finalopnew.to_csv('MYO_P-3.csv')